.wrapper {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 48rem;
}

.formTarefas {
  display: flex;
  justify-content: center;
  margin-top: calc(0px - 1.5rem - 6px);
}

.formTarefas input {
  width: 39.875rem;
  height: 3.375rem;
  border: 1px solid var(--gray-700);
  border-radius: 0.438rem;
  background: var(--gray-500);
  padding: 1rem;
  color: var(--white);
}

.formTarefas button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  width: 5.625rem;
  padding: 0.313rem;
  border-radius: 0.438rem;
  background: var(--blue-dark);
  border: 0;
  color: var(--white);
  margin-left: 0.5rem;
  font-size: 0.875rem;
}

.formTarefas button span {
  margin-right: 5px;
}

.formTarefas button:hover {
  background: var(--blue);
  transition: background-color 0.1s;
}

.tarefas {
  margin-top: 4.0625rem;
}

.tarefas .registrosTarefas {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.tarefas .textoTarefas {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--blue);  
}

.tarefas .textoTarefas > span {  
  color: var(--white);
  background: var(--gray-400);
  padding: 0.125rem 0.563rem;
  border-radius: 1.25rem;
  margin-left: 5px;
  font-weight: normal;
  font-size: 0.75rem;
}

.tarefas .textoConcluidos {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--purple);
}

.tarefas .textoConcluidos > span {  
  color: var(--white);
  background: var(--gray-400);
  padding: 0.125rem 0.563rem;
  border-radius: 1.25rem;
  margin-left: 5px;  
  font-weight: normal;
  font-size: 0.75rem;
}

.tarefas .listaTarefas .tarefasVazio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15.25rem;
  line-height: 22px;
  border-top: 1px solid var(--gray-400)
}

.tarefas .listaTarefas .tarefasVazio > img {
  margin-bottom: 1rem;
}

.tarefas .listaTarefas .tarefasVazio > p:first-of-type {
  font-weight: bold;
}
